# Compiled programs, and other temporary stuff
jsoncalc
testcalc
testconfig
core
tags
*.a
*.so
NOTES
Bug
www/notes
www/INTRO.html
www/table.elv
www/a/SUMMARY.html
www/a/INTRO.html
www/a/sidebar.html
www/f/INTRO.html
www/f/flist.js
www/f/sidebar.html
www/op/sidebar.html
www/op/oplist.js
www/cmd/sidebar.html
www/cmd/INTRO.html
www/old
Makefile.am
configure.ac
src/Makefile.am
src/plugins/Makefile
src/plugins/mysql/
src/plugins/sqlite/
src/plugins/xml/
src/simple/simple
log

# Memo to self
*IDEA

# Big ugly test data
sampledata/appts.json
sampledata/find.json
sampledata/foo.jc
sampledata/foo.json
sampledata/github.json
sampledata/owner.json
sampledata/pet.json
sampledata/sales.json
sampledata/stores.json
sampledata/test3.in

# Test scripts and programs
*.j*
try*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
