<!DOCTYPE html>
<html>
  <head>
    <title>jx Functions</title>
    <link rel="stylesheet" type="text/css" href="../jx.css">
    <meta name="description" content="jx function summary">
    <meta name="keywords" content="jx, function reference">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
	// Called when a user selects a different section
	function sectionChanged() {
	    var section = $("[name=section]:checked").val();
	    if (section == "all") {
		$("#functionList tr").css("display", "");
	    } else {
		$("#functionList tr").css("display", "none");
		$("#functionList tr." + section).css("display", "");
	    }
	}

	// Initialization
	$(document).ready(function() {
	    // Adjust the visibility of functions, depending on the sections inputs
	    $("[name=section]").on("change", sectionChanged);

	    // Returning to this page after selecting a section may leave that
	    // section still selected.  We'd better check.
	    sectionChanged();
	});
    </script>
  </head>
  <body>
    <h1>jx Functions</h1>

    This is a list of functions that are part of the jx query language.
    This is <em>not</em> a list of functions in the <tt>-ljson</tt> library.

    <details>
      <summary>All functions are global.</summary>
      You can write them using dot notation as though they're member functions,
      but doing so uses the data to the left of the dot for the first argument.
      All of <strong>jx</strong>'s functions work this way.
      <div class="example">
        <kbd>"Example".toUpperCase()</kbd>
        <samp>"EXAMPLE"</samp>
        <kbd>toUpperCase("Example")</kbd>
        <samp>"EXAMPLE"</samp>
      </div>
    </details>

    <details>
      <summary>All function names are case-insensitive.</summary>
      This is consistent with <strong>jx</strong>'s goal of being a good
      quick-and-dirty query tool.
      <p>
      You can also abbreviate function names to just the first letter and all
      uppercase letters in the function's canonical name.
      (The canonical name is the way they're listed here.)
      <div class="example">
        <kbd>"Example".toUpperCase()</kbd>
        <samp>"EXAMPLE"</samp>
        <kbd>"Example".touppercase()</kbd>
        <samp>"EXAMPLE"</samp>
        <kbd>"Example".tuc()</kbd>
        <samp>"EXAMPLE"</samp>
      </div>
    </details>

    <details>
      <summary>Function names are in a different namespace than object members.</summary>
      This means you can reuse function names as object member names without any
      confusion.
      This is important because maybe you'll be handed some JSON data with member
      names that clash with the function names listed here.
      No problem!
      <div class="example">
        <kbd>{toString:"to"}.toString</kbd>
        <samp>"to"</samp>
        <kbd>{toString:"to"}.toString()</kbd>
        <samp>"{\"toString\":\"to\"}"</samp>
      </div>
    </details>

    <details>
      <summary>Functions are grouped into sections.</summary>
      The split is mostly for convenience within this documentation,
      and is done (for the most part) via the datatype of the first argument.
      Some functions support a variety of argument types, in which case they'll
      be listed in multiple sections.
      It's still just one function though.
    </details>

    <details>
      <summary>Aggregate functions accumulate results across rows of a table.</summary>
      This is usually employed via the # or ## operators, or an SQL SELECT statement.
      You can also apply them to an array directly.
    </details>

    <p>
    <strong>Sections:</strong>
      <label for="sectionAll"><input type="radio" id="sectionAll" name="section" value="all" checked>All</label>
      <label for="sectionString"><input type="radio" id="sectionString" name="section" value="string">String</label>
      <label for="sectionNumber"><input type="radio" id="sectionNumber" name="section" value="number">Number</label>
      <label for="sectionObject"><input type="radio" id="sectionObject" name="section" value="object">Object</label>
      <label for="sectionArray"><input type="radio" id="sectionArray" name="section" value="array">Array</label>
      <label for="sectionBoolean"><input type="radio" id="sectionBoolean" name="section" value="boolean">Boolean</label>
      <label for="sectionDateTime"><input type="radio" id="sectionDateTime" name="section" value="datetime">Date/Time</label>
      <label for="sectionAggregate"><input type="radio" id="sectionAggregate" name="section" value="aggregate">Aggregate</label>
    <table class="referencelist">
      <thead>
        <tr>
          <th>Plugin</th>
          <th>Function</th>
          <th>Description</th>
	</tr>
      </thead>
      <tbody id="functionList">
        @@@
      </tbody>
    </table>
  </body>
</html>
