<!DOCTYPE html>
<html style="overflow-x:hidden">
  <head>
     <link rel="stylesheet" type="text/css" href="../jx.css">
  </head>
  <body>
    <h3>jx Functions</h3>
    <div class="sidebar" id="sidebar">
      @@@
    </div>
  </body>
  <script>
    // If passed a function name, try to find it and highlight it.
    var fname = window.location.search;
    if (fname) {
	fname = fname.replace(/^\?f=/, "").replace(/^.*\//, "");
	var link = document.getElementById(fname);
	if (link) {
		link.classList.toggle("current");

		// Also scroll it into view.  This is trickier than it
		// should be because scrollIntoView() also wants to scroll
		// horizontally to center it, which we don't want.
		link.scrollIntoView();
		document.getElementsByTagName("html")[0].scrollLeft = 0;
	}
    }
  </script>
</html>

