<!DOCTYPE html>
<html>
  <head>
    <title>jx</title>
    <link rel="stylesheet" type="text/css" href="jx.css">
    <meta name="description" content="jx introduction">
    <meta name="keywords" content="jx, introduction, intro, welcome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>
	// Called when a user selects a different section
	function sectionChanged() {
	    var section = $("[name=section]:checked").val();
	    if (section == "all") {
		$("#functionList tr").css("display", "");
	    } else {
		$("#functionList tr").css("display", "none");
		$("#functionList tr." + section).css("display", "");
	    }
	}

	// Initialization
	$(document).ready(function() {
	    // Adjust the visibility of functions, depending on the sections inputs
	    $("[name=section]").on("change", sectionChanged);

	    // Returning to this page after selecting a section may leave that
	    // section still selected.  We'd better check.
	    sectionChanged();
	});
    </script>
  </head>
  <body>
    <h1 style="display:none">jx</h1>
    <div id="mainpanels">

      <div>
        <h2>What is jx?</h2>
        <a target="_PARENT" href="index.html?main=shell">Examples in a shell script</a>
        <a target="_PARENT" href="index.html?main=interactive">Examples of interactive use</a>
        <a target="_PARENT" href="index.html?main=download">How to download/install jx</a>
        <p>
        <strong>jx</strong> is a C library for manipulating JSON data,
        and a program that uses that library.  The program is intended to be
        used for exploring JSON data, or converting it to other formats.
        <p>
        The program can be run interactively or as part of a shell script.
        It has a rather powerful set of features inspired by JavaScript
        and SQL.  There are also some unique added features but mostly it's
        intended to be close enough to JavaScript and SQL that if you're
        familiar with those two languages then you can be productive with
        <strong>jx</strong> right away.
      </div>

      <div>
	<!-- articles, inserted from a/SUMMARY.html -->
	@@@
      </div>

      <div>
        <h2>Scripting language</h2>
        <a target="_PARENT" href="index.html?main=tutscript">Tutorial</a>
        <a target="_PARENT" href="index.html?lit">Data Types, Literals, and Names</a>
        <a target="_PARENT" href="index.html?op">Operator reference</a>
        <a target="_PARENT" href="index.html?f">Function reference</a>
        <a target="_PARENT" href="index.html?cmd">Command reference</a>
        <p>
        <strong>jx</strong> began as an interactive data exploration tool,
        then it acquired functions and variables as ways to easily repeat common
        actions.
        From there, it grew just a bit more to become a useful scripting tool.
        <p>
        Even if you only use <tt>jx</tt> interactively, all of the
        scripting features are available.
        You might as well know about them.
      </div>

      <div>
        <h2>C library</h2>
      </div>
    </div>



  </body>
</html>
