<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="../jx.css">
  </head>
  <body>
    <h3>jx articles</h3>
    <div class="sidebar">
      @@@
    </div>
  </body>
  <script>
    // If passed an article name, try to find it and highlight it.
    var aname = window.location.search;
    if (aname) {
	aname = aname.replace(/^\?a=/, "").replace(/^.*\//, "");
	aname = decodeURIComponent(aname);
	var link = document.getElementById(aname);
	if (link) {
		link.classList.toggle("current");

		// Also scroll it into view.  This is trickier than it
		// should be because scrollIntoView() also wants to scroll
		// horizontally to center it, which we don't want.
		link.scrollIntoView();
		document.getElementsByTagName("html")[0].scrollLeft = 0;
	}
    }
  </script>
</html>

