<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="../jx.css">
  </head>
  <body>
    <h3>jx Operators</h3>

    <div class="sidebar">
      @@@
    </div>
    <em>Assignment is listed under</em>
    <a target="_PARENT" href="../index.html?cmd=assign">commands</a>.
  </body>
  <script>
    // If passed an operator page name, try to find it and highlight it.
    var opname = window.location.search;
    if (opname) {
	opname = opname.replace(/^\?op=/, "").replace(/^.*\//, "");
	var link = document.getElementById(opname);
	if (link) {
		link.classList.toggle("current");

		// Also scroll it into view.  This is trickier than it
		// should be because scrollIntoView() also wants to scroll
		// horizontally to center it, which we don't want.
		link.scrollIntoView();
		document.getElementsByTagName("html")[0].scrollLeft = 0;
	}
    }
  </script>
</html>

